{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

{% endblock %}
{% block content %}
<div id="game-area">
    <h2 id="gameMessage">X turn to play</h2><br>
    <div class="game-container">
        <div class="game-board" id="game-board" onclick="play(event)">
            <!-- The cells of the Tic-Tac-Toe board -->
            <div class="cell" data-index="0"></div>
            <div class="cell" data-index="1"></div>
            <div class="cell" data-index="2"></div>
            <div class="cell" data-index="3"></div>
            <div class="cell" data-index="4"></div>
            <div class="cell" data-index="5"></div>
            <div class="cell" data-index="6"></div>
            <div class="cell" data-index="7"></div>
            <div class="cell" data-index="8"></div>
        </div>
    </div>
    <h3 id="errorMessage"></h3><br>
    <div class="button-area">
        <button style="padding: 10px 5px; border-radius: 12px;" class="btn btn-danger" onclick="resetGame()">Reset</button>
    </div>
    <div><a style="margin-top: 20px; border-radius: 12px; padding: 10px;" class="btn btn-primary" href="/">Back to Main Menu</a>
    </div>
</div>
{% endblock %}   
{% block scripts %} 
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
<script src="{{ url_for('static', filename='tic_tac_toe.js') }}"></script>
{% endblock %}   